<%- include('partials/header'); -%>
<h1>Compose</h1>
<form class="form file-form">
    <div class="form-group">
        <label for="titleinput">Title</label>
        <input type="text" name="postTitle" id="titleinput" class="form-control">
        
    </div>
    <div class="form-group">
        <label for="posttext">post</label>
        <textarea name="postBody" id="posttext" cols="30" rows="10" class="form-control"></textarea>
       </div>
       <div class="form-row">
        <label for="image" class="form-label">Image</label>
        <input type="file" id="image" accept="application/pdf" >
       </div>
     
      
       <!-- <input type="submit"> -->
    <button type="submit" class="btn btn-primary">publish</button>
    
</form>

<%- include('partials/footer'); -%>